/*
 * -------------------------------------------------------
 * Header
 * -------------------------------------------------------
 */
.header{
    background-color: #c0bc80;
    top: 0;
}

.navbar{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.navbar ul{
    display: flex;
    list-style: none;
}
.navbar li{
    margin-left: 2rem;
}

.navbar a{
    text-decoration: none;
    color: white;
}
/*
.lead{
    color: white;
    text-align: center;
}
*/